[submodule "coffee-stock-application"]
	path = coffee-stock-application
	url = https://github.com/Joaohsd/coffee-stock-application
[submodule "coffee-stock-application-frontend"]
	path = coffee-stock-application-frontend
	url = https://github.com/PedroPereiraGuimaraes/coffee-stock-application-frontend
