[submodule "coffee-stock-application-frontend"]
	path = coffee-stock-application-frontend
	url = https://github.com/PedroPereiraGuimaraes/coffee-stock-application-frontend.git
[submodule "coffee-stock-api"]
	path = coffee-stock-api
	url = https://github.com/Joaohsd/coffee-stock-api.git
